<!DOCTYPE html>
<html>
  <head>
    <title>document</title>
    <%- include("component/head",{scriptFile}) %>
  </head>
  <body>
     <script type="module">
      import {deleteLink} from "/js/add_movie.js"
      window.deleteLink = deleteLink
      
    </script>
    <%- include('header'); %>
    <main id="main">
      <form id="add_movie_form">
        
        <fieldset id="movie_details_box">
          <legend>Details</legend>
          <input type="text" name="Title" placeholder="Write Title.." required>
          <input type="text" name="Year" placeholder="Write Year..">
          <input type="text" name="Rated" placeholder="Write Rated..">
          <input type="text" name="Released" placeholder="Write Released..">
          <input type="text" name="Runtime" placeholder="Runtime">
          <input type="text" name="Director" placeholder="Director name..">
          <input type="text" name="Writer" placeholder="Writer..">
          <input type="text" name="Actors" placeholder="Actors Names ...">
          <input type="text" name="Country" placeholder="Country">
          <input type="text" name="imdbRating" placeholder="imdbRating">
          <input type="text" name="imdbVotes" placeholder="imdbVotes">
          <input type="text" name="imdbID" placeholder="imdbID">
          <input type="text" name="Language" placeholder="Language.." ><br>
          <textarea name="Plot" placeholder="Write plot..."></textarea>
        </fieldset>
        
        <fieldset id="select_box">
          <legend>Options</legend>
          <select name="Type"></select>
          <select name="Category"></select>
          
        </fieldset>
        
        <fieldset id="radio_battons">
          <legend>Options</legend>
            <div>
              <label for="Trand">Tranding</label>
              <input id="Trand" type="radio" name="Trand">
            </div>
            
            <div>
              <label for="New">Updated</label>
              <input id="New" type="radio" name="New">
            </div>
          
            <div>
              <label for="AutoShow">Auto show</label>
              <input id="AutoShow" type="radio" name="AutoShow">
            </div>
          
        </fieldset>
        
        <fieldset id="poster_section">
          <legend>Add poster</legend>
          <div id="poster_previw"></div>
          <input id="poster_url_input" type="url" placeholder="Enter poster link..">
          <button type="button" id="add_poster_btn">Add.</button>
          <span>or</span>
          <input id="poster_file_input" type="file" accept="image/*">
        </fieldset>
        <fieldset id="image_section">
          <legend>Add image</legend>
          <div id="added_images"></div>
          <input id="images_file_input" type="file" accept="image/*">
          <span>or</span>
          <input id="image_input" type="url" placeholder="type a img url.">
          <button id="add_img_btn" type="button">Add image</button>
        </fieldset>
        
        <!-- Genre functionality -->
        <ul id="Genre_section"></ul>
        <select id="chose_genre_section"></select>
        <!-- Genre functionality end -->
        
        <!-- Download link adder -->
        <div id="download_link_adder">
          <h4>Downloades.</h4>
          <table id="download_tbl"></table>
          <div id="dif">
            <input id="download_title" type="text" placeholder="Ep. name.">
            <input id="download_url" type="text" placeholder="url..">
            <input id="download_language" type="text" placeholder="Language..">
            <input id="download_quality" type="text" placeholder="Quality..">
            <input id="download_size" type="text" placeholder="size..">
          </div>
          <button type="button" id="add_download_link">Add Link.</button>
        </div>
        <!-- end -->
        
        <button>Submit for add new movie</button>
      </form>
    </main>
   
  </body>
</html>