<!DOCTYPE html>
<html>
  <head>
    <title>Foryou</title>
    <%- include("component/head",{ baseurl,scriptFile }) %>
  </head>
  <body>
    <!-- _____________HEADER SECTION -->
    <%- include("header",{baseurl,scriptFile}) %>
    
    <!-- _______MAIN TRANDING SECTION START -->
    <main>
      <!-- SEARCH BAR -->
      <form id="search_box">
        <input type="search" name="query" placeholder="Search by name." required>
        <button><i class="fas fa-search"></i></button>
      </form>
      <!-- TRANDING SECTION -->
      <section id="foryou_section">
        <h3>ForYou.</h3>
        <div id="foryou_contents"></div>
      </section>
    </main>
    
  </body>
</html>