<header id="header">
    <span>MovieFlex</span>
    <i id="menu_bars" class="fa-solid fa-bars"></i>
    <nav>
      <i id="nav_xmark" class="fa-solid fa-xmark"></i>
      <a href="/admin">Dashbord</a>
      <a href="/admin/add-movie">Add Movie</a>
      <a href="/admin/aditional">aditionalData</a>
      <a href="/admin/tranding">Tranding</a>
      <a href="/admin/newest">Newest</a>
      <a href="/admin/foryou">ForYou</a>
      <a href="/admin/unwanted_image">Unwanted_image</a>
      <a href="/admin/settings">Settings</a>
      <a href="/admin/content-manegment">Content Managment</a>
    </nav>
  </header>
