<html>
  <head>
    <%- include("component/head",{baseurl}); %>
  </head>
  <body>
    <!-- NAVBAR SECTION -->
    <%- include("header",{baseurl}) %>
    
    <!-- DASHBORD SECTION -->
    <main>
      <section class="dasbord_section">
        
        <div class="item">
          <h2 id="foryou_display">0</h2>
          <h4> <a href="/admin/foryou">Foryou</a> </h4>
        </div>
        <div class="item">
          <h2 id="tranding_display">0</h2>
          <h4> <a href="/admin/tranding">Tranding</a> </h4>
        </div>
        <div class="item">
          <h2 id="newest_display">0</h2>
          <h4> <a href="/admin/newest">Newest</a> </h4>
        </div>
        
      </section>
    </main>
    
  </body>
</html>