<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/login.js"></script>
  </head>
  <body>
    <div id="containar">
      <form id="login_form">
        <h2>Login.</h2>
        <input name="username" type="text" placeholder="Enter username">
        <input name="password" type="text" placeholder="Enter password">
        <button>Login</button>
      </form>
    </div>
  </body>
</html>