<!DOCTYPE html>
<html>
  <head>
    <title>unwanted_image_delete</title>
    <%- include("component/head",{ scriptFile }) %>
  </head>
  <body>
     <!-- _____________HEADER SECTION -->
    <%- include("header",{ scriptFile }) %>
    
    <main>
      <section id="unwanted_image_section">
        <h3>Unwanted image manage</h3>
        <button id="delete_all_btn">Delete all</button>
        <div id="image_list"></div>
      </section>
    </main>
    
  </body>
</html>