#aditional_section{
  padding: 10px;
}

#aditional_form{
  padding: 10px;
}
@scope(#aditional_form){
  div select{
    padding: 5px 10px;
  }
  div input{
    padding: 6px;
  }
  button{
    margin-block: 10px;
    padding: 5px;
    padding-inline: 20px;
  }
}

#aditional_section .option_view_box h4{
  color: var(--Title_text);
}
.option_view_box .option_list{
  margin-block: 20px;
}
.option_view_box .option_list li{
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid var(--text);
  border-radius: 5px;
}


@media(min-width:500px){
  #aditional_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  #aditional_form{
    padding: 20px;
  }
}