

#cmmc .popop_containar{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a294c;
  width: 90%;
  max-width: 500px;
  min-height: 100px;
  border-radius: 10px;
  padding: 20px;
  display: none;
  z-index: 100000;
}
.popop_containar .statas{
  padding: 5px;
  border-radius: 5px;
  background-color: #5c3e7c;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.popop_containar .popup_close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
}
.popop_containar #popop_oprations{
  margin-block: 20px;
}
#popop_oprations button{
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin: 5px;
}
#popop_oprations button:hover{
  background-color: #d3c8de;
  color: black;
}

#cmmc .filter_section{
  padding: 10px;
}
.filter_section select{
  margin-inline: 5px;
}
.filter_section button{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-inline: 5px;
  border: none;
  transition: 1s;
  display: inline-block;
  margin-block: 10px;
}
button:hover{
  background-color: #d3c8de;
  color: black;
}


#cmmc .cmclc{
  padding: 10px;
}
.cmcl{
  min-height: 500px;
}
.cmcl .cmc{
  display: grid;
  grid-template-columns: .5fr 2.5fr;
  padding: 10px;
  margin-bottom: 10px;
}
.cmc img{
  height: 70px;
  width: 50px;
}
.cmc button{
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
}


.pageination{
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}
.pageination button{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-inline: 5px;
  border: none;
}
.pageination button:hover{
  background-color: #d3c8de;
  color: black;
}


@media (min-width:500px){
  .cmcl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
