main{
  padding: 10px;
}
main h2{
  color: var(--Title_text);
}
main #deleted_rec_containar{
  background-color: var(--box_bg);
  padding: 10px;
  border-radius: 20px;
  min-height: 300px;
  margin-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}