#setting_main {
  padding: 20px;
}
#setting_section{
  margin-top: 20px;
}
h2,h3{
  color: var(--Title_text);
}

.form_item{
  margin-top: 20px;
}

#setting_main #setting_section #update_form #color_box div{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

#other_info_box div input{
  color: var(--text);
  background-color: transparent;
  border: none;
  padding-inline: 10px;
  padding-block: 5px;
  outline: none;
}

#update_form button{
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}