:root{
  --bg: #140b15;
  --text: #ece8ec;
  --Big_text:#1f704f;
  --Title_text:#144732;
  --box_bg: #301933;
}
@font-face {
  font-family: myFont;
  src: url(./ComicRelief-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont, Sans-Serif;
}
body{
  background-color: var(--bg);
  color: var(--text);
}