
.download_box, .count_box{
  background-color: var(--box_bg);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  max-width: 500px;
  min-width: 400px;
  margin: 10px;
  color: var(--text);
}
.download_box button{
  padding: 5px 10px;
}
.dalert{
  padding: 30px;
  color: var(--title);
  font-size: 19px;
}