.loddingComponent{
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loddingComponent .circle{
  height: 60px;
  width: 60px;
  border-top: 2px solid var(--title);
  border-radius: 26px;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}